# -*- mode: conf -*-

[run]
# only record trace data for this package
source =
       magic_folder
# and don't trace the test files themselves
omit =
     */magic_folder/test/*
parallel = True
branch = True
