include README.rst
include COPYING.GPL COPYING.TGPPL.rst CREDITS Makefile NEWS.rst
include tox.ini
include .coveragerc
recursive-include requirements *.in *.txt
graft docs
graft misc
graft integration

global-exclude *~ *.pyc
