# https://circleci.com/docs/2.0/

version: 2
workflows:
  version: 2
  ci:
    jobs:
      # Start with jobs testing various platforms.

      # Every job that pulls a Docker image from Docker Hub needs to provide
      # credentials for that pull operation to avoid being subjected to
      # unauthenticated pull limits shared across all of CircleCI.  Use this
      # first job to define a yaml anchor that can be used to supply a
      # CircleCI job context which makes Docker Hub credentials available in
      # the environment.
      #
      # Contexts are managed in the CircleCI web interface:
      #
      #  https://app.circleci.com/settings/organization/github/LeastAuthority/contexts
      - "debian-10": &DOCKERHUB_CONTEXT
          context:
            - "dockerhub-auth"

      - "debian-9":
          <<: *DOCKERHUB_CONTEXT
          requires:
            - "debian-10"

      - "ubuntu-20.04":
          <<: *DOCKERHUB_CONTEXT
      - "ubuntu-18.04":
          <<: *DOCKERHUB_CONTEXT
          requires:
            - "ubuntu-20.04"

      - "fedora-34":
          <<: *DOCKERHUB_CONTEXT
      - "fedora-33":
          <<: *DOCKERHUB_CONTEXT
          requires:
            - "fedora-34"

      - "centos-8":
          <<: *DOCKERHUB_CONTEXT

      - "nixos-19.09":
          <<: *DOCKERHUB_CONTEXT

      # Test against PyPy 2.7/7.3.0
      - "pypy2.7-7.3":
          <<: *DOCKERHUB_CONTEXT

      # Other assorted tasks and configurations
      - "lint":
          <<: *DOCKERHUB_CONTEXT
      - "deprecations":
          <<: *DOCKERHUB_CONTEXT
      - "c-locale":
          <<: *DOCKERHUB_CONTEXT
      # Any locale other than C or UTF-8.
      - "another-locale":
          <<: *DOCKERHUB_CONTEXT

      - "integration":
          <<: *DOCKERHUB_CONTEXT
          requires:
            # If the unit test suite doesn't pass, don't bother running the
            # integration tests.
            - "debian-10"

  images:
    # Build the Docker images used by the ci jobs.  This makes the ci jobs
    # faster and takes various spurious failures out of the critical path.
    triggers:
      # Build once a day
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - "main"

    jobs:
      - "build-image-debian-9":
          <<: *DOCKERHUB_CONTEXT
      - "build-image-debian-10":
          <<: *DOCKERHUB_CONTEXT
      - "build-image-ubuntu-18.04":
          <<: *DOCKERHUB_CONTEXT
      - "build-image-ubuntu-20.04":
          <<: *DOCKERHUB_CONTEXT
      - "build-image-fedora-33":
          <<: *DOCKERHUB_CONTEXT
      - "build-image-fedora-34":
          <<: *DOCKERHUB_CONTEXT
      - "build-image-centos-8":
          <<: *DOCKERHUB_CONTEXT
      - "build-image-pypy-2.7-7.3.4-buster":
          <<: *DOCKERHUB_CONTEXT


jobs:
  dockerhub-auth-template:
    # This isn't a real job.  It doesn't get scheduled as part of any
    # workhlow.  Instead, it's just a place we can hang a yaml anchor to
    # finish the Docker Hub authentication configuration.  Workflow jobs using
    # the DOCKERHUB_CONTEXT anchor will have access to the environment
    # variables used here.  These variables will allow the Docker Hub image
    # pull to be authenticated and hopefully avoid hitting and rate limits.
    docker:
      - image: "null"
        auth: &DOCKERHUB_AUTH
          username: $DOCKERHUB_USERNAME
          password: $DOCKERHUB_PASSWORD

    steps:
      - run:
          name: "Schema conformity"
          command: |

  lint:
    docker:
      - auth: *DOCKERHUB_AUTH
        image: "circleci/python:2"

    steps:
      - "checkout"

      - run:
          name: "Install tox"
          command: |
            pip install --user tox

      - run:
          name: "Static-ish code checks"
          command: |
            ~/.local/bin/tox -e codechecks

  debian-10: &DEBIAN
    docker:
      - auth: *DOCKERHUB_AUTH
        image: "magicfolderci/debian:10"
        user: "nobody"

    environment: &UTF_8_ENVIRONMENT
      # In general, the test suite is not allowed to fail while the job
      # succeeds.  But you can set this to "yes" if you want it to be
      # otherwise.
      ALLOWED_FAILURE: "no"
      # Tell Hypothesis which configuration we want it to use.
      MAGIC_FOLDER_HYPOTHESIS_PROFILE: "magic-folder-ci"
      # Tell the C runtime things about character encoding (mainly to do with
      # filenames and argv).
      LANG: "en_US.UTF-8"
      # Select a tox environment to run for this job.
      MAGIC_FOLDER_TOX_ENVIRONMENT: "py27-coverage"
      # Additional arguments to pass to tox.
      MAGIC_FOLDER_TOX_ARGS: ""
      # The path in which test artifacts will be placed.
      ARTIFACTS_OUTPUT_PATH: "/tmp/artifacts"
      # Convince all of our pip invocations to look at the cached wheelhouse
      # we maintain.
      WHEELHOUSE_PATH: &WHEELHOUSE_PATH "/tmp/wheelhouse"
      PIP_FIND_LINKS: "file:///tmp/wheelhouse"

    # pip cannot install packages if the working directory is not readable.
    # We want to run a lot of steps as nobody instead of as root.
    working_directory: "/tmp/project"

    steps:
      - "checkout"
      - run: &SETUP_VIRTUALENV
          name: "Setup virtualenv"
          command: |
            /tmp/project/.circleci/setup-virtualenv.sh \
                "/tmp/venv" \
                "/tmp/project" \
                "${WHEELHOUSE_PATH}" \
                "${MAGIC_FOLDER_TOX_ENVIRONMENT}" \
                "${MAGIC_FOLDER_TOX_ARGS}"

      - run: &RUN_TESTS
          name: "Run test suite"
          command: |
            /tmp/project/.circleci/run-tests.sh \
                "/tmp/venv" \
                "/tmp/project" \
                "${ALLOWED_FAILURE}" \
                "${ARTIFACTS_OUTPUT_PATH}" \
                "${MAGIC_FOLDER_TOX_ENVIRONMENT}" \
                "${MAGIC_FOLDER_TOX_ARGS}"
          # trial output gets directed straight to a log.  avoid the circleci
          # timeout while the test suite runs.
          no_output_timeout: "20m"

      - store_test_results: &STORE_TEST_RESULTS
          path: "/tmp/artifacts/junit"

      - store_artifacts: &STORE_TEST_LOG
          # Despite passing --workdir /tmp to tox above, it still runs trial
          # in the project source checkout.
          path: "/tmp/project/_trial_temp/test.log"

      - store_artifacts: &STORE_ELIOT_LOG
          path: "/tmp/project/eliot.log"

      - store_artifacts: &STORE_OTHER_ARTIFACTS
          # Store any other artifacts, too.  This is handy to allow other jobs
          # sharing most of the definition of this one to be able to
          # contribute artifacts easily.
          path: "/tmp/artifacts"

      - run: &SUBMIT_COVERAGE
          name: "Submit coverage results"
          command: |
            /tmp/venv/bin/codecov


  debian-9:
    <<: *DEBIAN
    docker:
      - auth: *DOCKERHUB_AUTH
        image: "magicfolderci/debian:9"
        user: "nobody"


  pypy2.7-7.3:
    <<: *DEBIAN
    docker:
      - auth: *DOCKERHUB_AUTH
        image: "magicfolderci/pypy:2.7-7.3.4-buster"
        user: "nobody"

    environment:
      <<: *UTF_8_ENVIRONMENT
      MAGIC_FOLDER_TOX_ENVIRONMENT: "pypy27-coverage"
      ALLOWED_FAILURE: "yes"


  c-locale:
    <<: *DEBIAN

    environment:
      <<: *UTF_8_ENVIRONMENT
      LANG: "C"


  another-locale:
    <<: *DEBIAN

    environment:
      <<: *UTF_8_ENVIRONMENT
      # aka "Latin 1"
      LANG: "en_US.ISO-8859-1"


  deprecations:
    <<: *DEBIAN

    environment:
      <<: *UTF_8_ENVIRONMENT
      # Select the deprecations tox environments.
      MAGIC_FOLDER_TOX_ENVIRONMENT: "deprecations,upcoming-deprecations"
      # Put the logs somewhere we can report them.
      MAGIC_FOLDER_WARNINGS_LOG: "/tmp/artifacts/deprecation-warnings.log"


  integration:
    <<: *DEBIAN

    environment:
      <<: *UTF_8_ENVIRONMENT
      # Select the integration tests tox environments.
      MAGIC_FOLDER_TOX_ENVIRONMENT: "integration"
      # Disable artifact collection because py.test can't produce any.
      ARTIFACTS_OUTPUT_PATH: ""

    steps:
      - "checkout"
      # DRY, YAML-style.  See the debian-10 steps.
      - run: *SETUP_VIRTUALENV
      - run: *RUN_TESTS


  ubuntu-18.04:
    <<: *DEBIAN
    docker:
      - auth: *DOCKERHUB_AUTH
        image: "magicfolderci/ubuntu:18.04"
        user: "nobody"


  ubuntu-20.04:
    <<: *DEBIAN
    docker:
      - auth: *DOCKERHUB_AUTH
        image: "magicfolderci/ubuntu:20.04"
        user: "nobody"


  centos-8: &RHEL_DERIV
    docker:
      - auth: *DOCKERHUB_AUTH
        image: "magicfolderci/centos:8"
        user: "nobody"

    environment: *UTF_8_ENVIRONMENT

    # pip cannot install packages if the working directory is not readable.
    # We want to run a lot of steps as nobody instead of as root.
    working_directory: "/tmp/project"

    steps:
      - "checkout"
      - run: *SETUP_VIRTUALENV
      - run: *RUN_TESTS
      - store_test_results: *STORE_TEST_RESULTS
      - store_artifacts: *STORE_TEST_LOG
      - store_artifacts: *STORE_ELIOT_LOG
      - store_artifacts: *STORE_OTHER_ARTIFACTS
      - run: *SUBMIT_COVERAGE


  fedora-33:
    <<: *RHEL_DERIV
    docker:
      - auth: *DOCKERHUB_AUTH
        image: "magicfolderci/fedora:33"
        user: "nobody"


  fedora-34:
    <<: *RHEL_DERIV
    docker:
      - auth: *DOCKERHUB_AUTH
        image: "magicfolderci/fedora:34"
        user: "nobody"


  nixos-19.09:
    docker:
      # Run in a highly Nix-capable environment.
      - auth: *DOCKERHUB_AUTH
        image: "nixorg/nix:circleci"

    environment:
      NIX_PATH: "nixpkgs=https://github.com/NixOS/nixpkgs-channels/archive/nixos-19.09-small.tar.gz"

    steps:
      - "checkout"

      - restore_cache:
          # Get all of Nix's state relating to the particular revision of
          # nixpkgs we're using.  It will always be the same.  CircleCI
          # artifacts and nixpkgs store objects are probably mostly hosted in
          # the same place (S3) so there's not a lot of difference for
          # anything that's pre-built.  For anything we end up building
          # ourselves, though, this saves us all of the build time (less the
          # download time).
          #
          # Read about caching dependencies: https://circleci.com/docs/2.0/caching/
          name: "Restore Nix Store Paths"
          keys:
            # Construct cache keys that allow sharing as long as nixpkgs
            # revision is unchanged.
            #
            # If nixpkgs changes then potentially a lot of cached packages for
            # the base system will be invalidated so we may as well drop them
            # and make a new cache with the new packages.
            - magic_folder-nix-store-v1-19.09-small
            - magic_folder-nix-store-v1-

      - "run":
          name: "Build and Test"
          command: |
            # CircleCI build environment looks like it has a zillion and a
            # half cores.  Don't let Nix autodetect this high core count
            # because it blows up memory usage and fails the test run.  Pick a
            # number of cores that suites the build environment we're paying
            # for (the free one!).
            #
            # Also, let it run more than one job at a time because we have to
            # build a couple simple little dependencies that don't take
            # advantage of multiple cores and we get a little speedup by doing
            # them in parallel.
            #
            # Keep failed build intermediates so we can upload logs for failed
            # runs as artifacts, too.
            nix-build --keep-failed --cores 3 --max-jobs 2 nix/

      - "run":
          name: "Prepare logs for upload"
          # They need to be moved to the right place always, whether tests
          # passed or failed.
          when: "always"
          command: |
            mkdir -p /tmp/artifacts/logs

            # Let a glob expand to nothing if there are no matches.
            shopt -s nullglob

            # Copy any logs from a failed build we can find.  Note that in
            # this CircleCI build context, the source directory is named
            # "project" instead of magic-folder.
            for p in /tmp/nix-build-*-magic-folder-*.drv-0/project/_trial_temp/*; do
              out="/tmp/artifacts/logs/$(basename "$p")"
              mkdir "$out"
              cp "$p"/*.log "$out"
            done

      - store_artifacts:
          path: "/tmp/artifacts/logs"

      - save_cache:
          name: "Cache Nix Store Paths"
          key: magic_folder-nix-store-v1-19.09-small
          paths:
            - "/nix"

  build-image: &BUILD_IMAGE
    # This is a template for a job to build a Docker image that has as much of
    # the setup as we can manage already done and baked in.  This cuts down on
    # the per-job setup time the actual testing jobs have to perform - by
    # perhaps 10% - 20%.
    #
    # https://circleci.com/blog/how-to-build-a-docker-image-on-circleci-2-0/
    docker:
      - auth: *DOCKERHUB_AUTH
        image: "docker:17.05.0-ce-git"

    environment:
      DISTRO: "magicfolderci/<DISTRO>:foo"
      TAG: "magicfolderci/distro:<TAG>"

    steps:
      - "checkout"
      - "setup_remote_docker"
      - run:
          name: "Log in to Dockerhub"
          command: |
            docker login -u ${DOCKERHUB_USERNAME} -p ${DOCKERHUB_PASSWORD}
      - run:
          name: "Build image"
          command: |
            docker \
                build \
                --build-arg TAG=${TAG} \
                -t magicfolderci/${DISTRO}:${TAG} \
                -f ~/project/.circleci/Dockerfile.${DISTRO} \
                ~/project/
      - run:
          name: "Push image"
          command: |
            docker push magicfolderci/${DISTRO}:${TAG}


  build-image-debian-9:
    <<: *BUILD_IMAGE

    environment:
      DISTRO: "debian"
      TAG: "9"


  build-image-debian-10:
    <<: *BUILD_IMAGE

    environment:
      DISTRO: "debian"
      TAG: "10"


  build-image-ubuntu-18.04:
    <<: *BUILD_IMAGE

    environment:
      DISTRO: "ubuntu"
      TAG: "18.04"


  build-image-ubuntu-20.04:
    <<: *BUILD_IMAGE

    environment:
      DISTRO: "ubuntu"
      TAG: "20.04"


  build-image-centos-8:
    <<: *BUILD_IMAGE

    environment:
      DISTRO: "centos"
      TAG: "8"


  build-image-fedora-33:
    <<: *BUILD_IMAGE

    environment:
      DISTRO: "fedora"
      TAG: "33"


  build-image-fedora-34:
    <<: *BUILD_IMAGE

    environment:
      DISTRO: "fedora"
      TAG: "34"


  build-image-pypy-2.7-7.3.4-buster:
    <<: *BUILD_IMAGE

    environment:
      DISTRO: "pypy"
      TAG: "2.7-7.3.4-buster"
